無線LAN　　　　　　無線通信を利用して構築されるLANである。モデムとパソコンをLANケーブルを使わずに接続する方法
有線LAN　　　　　　モデムとパソコンをLANケーブルを使って接続する方法
WAN　　　　　　　　Wide Area Network　LANやMANに比較して広い範囲（市街地を越え郊外、県外や国際の範囲）におよぶネットワークのこと
ノード　　　　　　「ネットワークの接点」を意味するが、通信ネットワークにおいては、再配布ポイント（データ回線終端装置など）かエンドポイント（データ端末装置など）のいずれかである
リンク　　　　　　　ソフトウェア開発における目的プログラムの連結
トロボジ　　　　　　ネットワークの接続形態を点と線でモデル化したもの
バス型トポロジー　　すべての機器が中央の1本の線に接続する形態。他の形態と比べて、簡単に構成することができる。中央の線がどこか1か所でも断線すると、ネットワーク全体が影響を受ける
スター型トポロジー　ハブやスイッチ、ルーターなどを中心に置き、そこから複数の機器へ接続する形態。バス型やリング型と異なり、1か所で障害が発生しても他への影響を最小限に抑えることができる。ただし、中央の機器で障害があると、ネットワーク全体が影響を受けます。
フルメッシュ型　　　すべての機器が相互に接続している。どこかで障害が発生しても迂回路が確保されており、もっとも障害に強い形態と言えますが、規模が大きくなるとコスト面や管理面の負担が大きくなります。
bps 　　　　　　　　（bits per second）ネットワークなどにおけるデータ転送速度の単位。1秒間に転送できるビット数を表す。
輻輳　　　　　　　　congestion 物が1か所に集中し混雑する様態
コリジョン　　　　　イーサネットや無線LANで複数の端末が送信し、データが衝突する現象を指す。
ドメイン　　　　　　インターネット上の住所　ドメインに紐づく「IPアドレス」というものにある
ポート　　　　　　　「港」という意味の英単語で、ITの分野では機器やソフトウェアが外部の別の主体と接続・通信するための末端部分のことを比喩的にこのように呼ぶ。
プロトコル　　　　　コンピュータでデータをやりとりするために定められた手順や規約、信号の電気的規則、通信における送受信の手順などを定めた規格を意味する。約束事
OSI参照モデル　　　コンピュータネットワークで利用されている多数のプロトコルについて、それぞれの役割を分類し、明確化するためのモデルである。
ヘッダ　　　　　　　データや文書の本体の先頭に付け加えられる、そのデータや文書自体についての情報を記述した部分のこと。header
カプセル化　　　　　オブジェクト指向プログラミングにて、互いに関連するデータの集合とそれらに対する操作をオブジェクトとして一つの単位にまとめ、外部に対して必要な情報や手続きのみを提供すること。
非カプセル化　　　　ヘッダとトレーラを取り、データを抽出する事。本質的なデータ以外の情報を取り除く事。カプセル化の反対。
PDU　　　　　　　 　Power Distribution Unit　薄型のコンピュータなどを積み重ねて設置することができる専用の棚（サーバラック）に備え付ける電源タップ。データセンターなどで用いられる
MTU 　　　　　　　　Maximum Transmission Unit　通信機器などが一度に送信できる最大のデータ量
フレーム　　　　　　データの送受信単位。送りたいデータを一定の大きさに分割し、先頭に宛先アドレスなどの制御情報を付加したもので、最大長や制御情報の形式は各規格ごとに定められている。
パケット　　　　　　小包。通信回線やネットワークを流れる情報のうち、データをある長さごとに区切り、送信元や宛先などの制御情報を付加した小さなまとまりのこと。
セグメント　　　　　断節、部分のこと。ネットワークを構成する個々のネットワーク環境や、コンピュータのメモリで一度にアクセスできる領域のことを指す。
TCP/IPモデル　　　　アプリケーションの機能を実現するためのアプリケーションプロトコル、プログラム間でデータを伝送するためのUDPとTCP、インターネットワークで機器間の通信を実現するIP
ビット 　　　　　　　情報理論、コンピューティング、デジタル通信における情報の基本単位（英語版）である。二進数の1桁のこと
ツイストペアケーブル　通信用の金属ケーブルの種類の一つ。細長い金属製の電線（芯線/信号線）を2本1組として螺旋状に撚り合わせ、このペアを何対か集めてゴムなどの被覆材で覆って一本のケーブルとしたもの。
UTPケーブル　　　　　Unshielded Twisted Pair cable　撚り合わせた一対の金属線により電気信号や電力を伝える通信用ケーブルの構造の一つ。電磁ノイズを遮断するシールド加工を行っていないもの。電話回線やコンピュータネットワーク用の通
カテゴリ　　　　　　　分類、分野、区分、種類、部門、ジャンル、範疇、などの意味を持つ英単語。物事を一定の基準に基づいて分類した際の、個々の区分のこと
コネクタ　　　　　　　電子部品やケーブルなどを他の部品に簡単に着脱できるように設けられた部品。形状などにより「アダプタ」「プラグ」「ソケット」などと呼ばれることもある。用途によって様々な大きさや形状があり
ストレートケーブル　　内部に複数の芯線が通っている通信ケーブルのうち、各芯線が両端で同じ位置のピンに結線されているもののこと
クロスケーブル　　　　内部に複数の芯線が通っている通信ケーブルのうち、一部の芯線が両端で別の位置のピンに結線されているもののこと。送信側のピンと受信側のピンを繋げるために通信用の芯線が交差して配線されている
光ファイバー　　　　　ガラスや透明なプラスチックなどを細長く加工したものを被覆で覆った構造の線材。光を離れた場所に伝送することができ、通信や照明などに用いられる。
ハブ　　　　　　　　　機器間をケーブルで結んで通信する際に、複数のケーブルを接続して相互に通信できるようにする集線装置、中継装置のことをハブという
半二重通信 　　　　　( half duplex ) とは、データの送信と受信を同時に行えず、時間を区切って片方向からの 送信しかできない通信方式
イーサネット　　　　ネットワークやコンピューター間での通信モデル TCP/IPプロトコルのネットワークインターフェース層に対応する有線の規格です。
Fast Ethernet　　有線の構内ネットワーク（LAN）の標準の一つであるイーサネット（Ethernet）のうち、100Mbps（メガビット毎秒）での通信に対応した規格群の総称
ギガビットイーサネット　通信速度が1Gbps（＝1000Mbps）のイーサネット規格の総称
イーサネットヘッダ　　ネットワーク上を流れるデータの中身の一部で、イーサネットってお約束事で使う情報が書かれている部分のこと
トレーラ　　　　　　データを区切って転送するときに、その区切られたデータひとつひとつに付加される制御情報。
CSMA/CD　　　　　　Carrier Sense Multiple Access/Collision Detection 、搬送波感知多重アクセス/衝突検出[1]）は、初期イーサネットの制御方式である。有線LANで使用されていた。
MACアドレスと　　　Media Access Controlにおいて、ネットワークインタフェースを識別するために使用される識別子である。OSI参照モデルでいえば、第2層にあたる
スイッチ　　　　　　複数のコンピューターやLANを接続する中継装置をいう。 「ポート（接続口）」で受け取ったデータを、あて先であるポートに送信する役割がある
MACアドレステーブル　ネットワークスイッチなどが内部的に管理している情報で、どのポート（端子）にどのMACアドレスを持つ機器が接続されているかを記録したもの。
フラッディング　　　洪水、氾濫などの意味を持つ英単語。 ITの分野では、ネットワーク機器のデータ転送方式の一種や、システムに許容量を超えるデータや処理要求が届き麻痺状態に陥る現象
全二重通信　　　　　データの送信と受信を同時に行うことができる通信方式
タグVLAN　　　　　VLANタグと呼ばれるIDをイーサネットフレームに付加して、スイッチをまたいで転送されたフレームがどのVLANに属するか識別する機能です。
ポートVLAN　　　　VLAN（仮想LAN/バーチャルLAN）の方式の一つで、一台のネットワークスイッチ（スイッチングハブ）の差込口（ポート）を単位に、物理的な回線でグループを構成する方式
アクセスポート　
　　決まった１つのネットワークのデータのみが通る穴
　　PCなどの端末をつなぐ
トランスポート
　　複数のネットワークのデータが通る穴
　　スイッチ同士をつなぐ穴
DTP 　　　　　　　【DeskTop Publishing】出版物や印刷物の原稿作成や編集、デザイン、レイアウト、組版などの作業をコンピュータで行い、最終的に印刷可能な原稿（版下）の作成まで行うこと。
ネイティブVLAN　　　IEEE 802.1Q方式のVLANで、トランクリンク上で唯一タグを付けずに送受信されるVLANのこと
デフォルトVLAN　　　VLANを設定したネットワークスイッチで、VLANの指定が無いポートやフレームの通信に用いられるVLANのこと
ブロードキャストストーム　ネットワーク上で一斉配信（ブロードキャスト）用の特殊なデータや信号が際限なく転送され続ける現象。二台以上のネットワークスイッチなどに環状（ループ）の経路が形成されることによって生じ、最終的には帯域を使い尽くしてネットワーク全体が機能を停止する。
スパニングツリープロトコル　冗長構成になっているスイッチドネットワークにおいて、ブロードキャストストームなどのループによる問題を回避するためのプロトコル
リンクアグリゲーション　複数の物理ポートを束ねてスイッチ間の帯域幅を拡大するとともに、リンクの冗長性を高める機能です
EtherChannel　　　　　複数のイーサネット回線（ポートおよびケーブル）を束ねて仮想的に一本の大容量回線として利用する機能


